* {margin: 0;padding: 0;}

body {font-family: 'Montserrat', sans-serif;}

#page {
    min-height: 200px;
    width: 60%;
    min-width: 600px;
    background: whitesmoke;
    margin: 50px auto;
    padding: 30px;
    color: black; /* Changed text color to black */
}

.photo {
    width: 15%;
    min-width: 130px;
    float: left;
    margin-right: 20px;
}

.contact-info-box {
    width: 70.9%;
    display: inline-block;
}

.name {
    margin-bottom: -5px;
}

.job-title {
    display: inline-block;
}

.contact-details {
    background: #27aae1;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 25px;
    padding: 5px;
    font-size: 15px;
}

/* Standard section title styling */
.section-title {
    color: #27aae1; /* Blue color */
    font-weight: bold;
    border: 2px solid #27aae1;
    padding: 5px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
}

/* Black title for 'Education' */
.black-title {
    color: black;
    font-weight: bold;
    border: 2px solid black;
    padding: 5px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
}

/* Objective Section */
#objective h3 {
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#objective p {
    padding: 0 5px;
    line-height: 25px;
    font-size: 14px;
    color: #000;
}

/* Education Section */
#education h3 {
    border: 1px solid black;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
    color: black;
}

#education table td {
    padding: 5px;
    font-size: 14px;
    color: #000;
}

/* Experience Section */
#experience h3, 
#entrepreneurial h3, 
#certifications h3, 
#languages h3 {
    color: #27aae1; /* Blue color */
    font-weight: bold;
    border: 2px solid #27aae1;
    padding: 5px;
    display: inline-block;
    text-transform: uppercase;
    border-radius: 5px;
}

#experience table td {
    padding: 5px;
    font-size: 14px;
    color: #000;
}

/* Work Section */
#work h3 {
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#work table td {
    padding: 5px;
    font-size: 14px;
    color: #000;
}

/* Bio-Data Section */
#bio-data h3 {
    border: 1px solid #d3d3d3;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 5px;
    margin: 30px 0 10px;
}

#bio-data table td {
    padding: 8px;
    font-size: 15px;
    color: #000;
}

#bio-data table tr td:first-child {
    width: 200px;
}

#bio-data table tr td:nth-child(2) {
    width: 300px;
}
